################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Starships/.vs/Starships
/Starships/obj
/Starships/bin/Debug/netcoreapp3.0
